/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #9bd0d9;
    color: #3d3d3d;
}

/* Header styles */
header {
    background-color: #3d3d3d;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

header nav h1 {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    align-content: center;
}

header nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a img {
    width: 100px;
    height: 100px;
    align-self: left;
}

/* Main content styles */
main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h3 {
    font-size: 1.8em;
    color: #333;
}

main p {
    font-size: 1.1em;
    color: #555;
}

ul {
    margin: 10px 0;
}

ul li {
    margin-bottom: 5px;
}

/* Form styles */
form {
    margin-top: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form textarea {
    resize: vertical;
}

form input[type="number"] {
    width: 150px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    width: 45%;
}

footer h2, footer h4 {
    margin-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

footer a:hover {
    text-decoration: underline;
}
